This is a **solid summary of Pandas DataFrame Indexing**,

---

## ‚úÖ Pandas Indexing: Key Concepts

### üîπ 1. **Access the index**

```python
df.index
```

üß† Tells you how rows are labeled (default: `RangeIndex`).

---

### üîπ 2. **Set a column as index**

```python
df.set_index('Name')
```

üß† Makes `Name` the row label ‚Äî useful when you want to use `.loc[]` based on that.

---

### üîπ 3. **Reset the index**

```python
df.reset_index()
```

üß† Brings the index back to 0, 1, 2‚Ä¶ and makes the old index a column.

---

### üîπ 4. **Access a row by index label**

```python
df_with_index.loc['Alice']
```

üß† Works only if `'Alice'` is the index label (e.g. after setting `Name` as index).

---

### üîπ 5. **Change index to any other column**

```python
df.set_index('Age')
```

üß† Allows label-based navigation using `.loc[30]` etc.

---

| What You Want To Do                    | Code Example                   | Method Used             |
| -------------------------------------- | ------------------------------ | ----------------------- |
| View entire DataFrame                  | `df` or `print(df)`            | Basic display           |
| Access a column                        | `df['Age']`                    | Bracket notation        |
| Access a single row by position        | `df.iloc[1]`                   | Integer-based indexing  |
| Access multiple rows + columns         | `df.loc[0:2, ['Name', 'Age']]` | Label-based selection   |
| Filter rows based on condition         | `df[df['Age'] > 25]`           | Boolean condition       |
| Access a single cell by label          | `df.at[2, 'Salary']`           | Fast label-based access |
| Access a single cell by index position | `df.iat[2, 3]`                 | Fast integer position   |

In [26]:
import pandas as pd

data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}

In [28]:
df = pd.DataFrame(data)
print(df)
df.index

      Name  Age  Gender  Salary
0     John   25    Male   50000
1    Alice   30  Female   55000
2      Bob   22    Male   40000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

RangeIndex(start=0, stop=5, step=1)

In [65]:
df_coustomIndex = df.set_index('Name')
print(df_coustomIndex)

         Age  Gender  Salary
Name
John      25    Male   50000
Alice     30  Female   55000
Bob       22    Male   40000
Eve       35  Female   70000
Charlie   28    Male   48000

In [18]:
df_genderIndex = df.set_index('Age')
print(df_genderIndex)

        Name  Gender  Salary
Age
25      John    Male   50000
30     Alice  Female   55000
22       Bob    Male   40000
35       Eve  Female   70000
28   Charlie    Male   48000

In [22]:
df_reset = df.reset_index()
print(df_reset)

   index     Name  Age  Gender  Salary
0      0     John   25    Male   50000
1      1    Alice   30  Female   55000
2      2      Bob   22    Male   40000
3      3      Eve   35  Female   70000
4      4  Charlie   28    Male   48000

## üß† Quick Check for You (Answer These):

1. What happens if you use `df.loc['Alice']` **before** setting `Name` as index?
2. After running `df.set_index('Age')`, how would you access all rows where Age is 25?
3. How do you reset index *without* keeping the old one as a column?

Once you answer these, I‚Äôll give you a **hands-on task** with a twist ‚Äî you'll use `.loc[]` and `.set_index()` to simulate a mini lookup system!

In [67]:
'''
‚úÖ 1. What happens if you use df.loc['Alice'] before setting Name as index?
You said: KeyError ‚Äî and that is absolutely correct. ‚úÖ
Because the default index is 0, 1, 2... ‚Äî not 'Alice'.
To make 'Alice' work with .loc[], you first have to do:
'''
#print(df.loc['Alice'])
df = df.set_index('Name')

In [69]:
'''
‚úÖ 2. After running df.set_index('Age'), how would you access all rows where Age is 25?

'''
df = df.set_index('Age')

df.loc[25]

Gender     Male
Salary    50000
Name: 25, dtype: object

In [71]:
index_age

     Gender  Salary
Age
25     Male   50000
30   Female   55000
22     Male   40000
35   Female   70000
28     Male   48000

In [30]:
df.reset_index(drop=True)

      Name  Age  Gender  Salary
0     John   25    Male   50000
1    Alice   30  Female   55000
2      Bob   22    Male   40000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

In [55]:
employee_data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}
df = pd.DataFrame(employee_data)


'''
Load the employee data again

Set 'Name' as the index

Use .loc[] to print the row for "Eve"

Reset the index (without keeping "Name" as a column)
'''

'\nLoad the employee data again\n\nSet \'Name\' as the index\n\nUse .loc[] to print the row for "Eve"\n\nReset the index (without keeping "Name" as a column)\n'

In [34]:
df = df.set_index('Name')

In [36]:
df.loc['Eve']

Age           35
Gender    Female
Salary     70000
Name: Eve, dtype: object

Simple Rule:
.iloc[] ‚Üí use numbers (df.iloc[0])

.loc[] ‚Üí use labels (df.loc['Eve'])

In [57]:
df = df.reset_index(drop=True)

In [43]:
df.iloc[3]['Gender']

'Female'

In [59]:
df[df['Name'] == 'Charlie']['Age'].values[0]

28

In [53]:
df.at[2, 'Name']

KeyError: 'Name'

In [65]:
import pandas as pd

# Create the DataFrame
data_n = {
    'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
    'Age': [25, 30, 22, 35, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Salary': [50000, 55000, 40000, 70000, 48000]
}

df = pd.DataFrame(data_n)

# Access the Age of Charlie (without using index number)
age_of_charlie = df.loc[df['Name'] == 'Charlie', 'Age']
print("Charlie's Age is:", age_of_charlie)

Charlie's Age is: 4    28
Name: Age, dtype: int64

In [69]:
age_of_bob = df.loc[df['Name']=='Bob','Age'].values[0]
print("Bob's Age is:", age_of_bob)

Bob's Age is: 22

In [71]:
bob_salary = df.loc[df['Name']=='Bob', 'Salary'].values[0]
print("Bobs Salary is: ", bob_salary)

Bobs Salary is:  40000

In [75]:
eve_salary = df.loc[df['Name'] == 'Eve', 'Salary'].values[0]
eve_salary

70000

| Type                    | Use when...                            | Method    | Example         | Key idea                        |
| ----------------------- | -------------------------------------- | --------- | --------------- | ------------------------------- |
| **Positional Indexing** | You know the **row number**            | `.iloc[]` | `df.iloc[2]`    | Uses **0-based row numbers**    |
| **Label Indexing**      | You know the **row label/index value** | `.loc[]`  | `df.loc['Bob']` | Uses the **actual index value** |

In [80]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

df.iloc[1]

Name    Bob
Age      30
Name: 1, dtype: object

In [82]:
df.loc[1] #Also works here, because default index labels are 0, 1, 2

Name    Bob
Age      30
Name: 1, dtype: object

In [84]:
df_n = df = df.set_index('Name')

df_n.loc[1] #Gives error (no label 1 anymore!)

Simple Rule:
.iloc[] ‚Üí use when counting rows (like in a loop or numeric index)

.loc[] ‚Üí use when selecting by actual index value (e.g. Name, ID, etc.)

Let‚Äôs break down .at[] and .iat[] clearly.

| Use case                 | Syntax                         | Includes last row? |
| ------------------------ | ------------------------------ | ------------------ |
| Label-based selection    | `df.loc[0:2, ['Name', 'Age']]` | ‚úÖ Yes              |
| Position-based selection | `df.iloc[0:2, [0, 1]]`         | ‚ùå No (excludes 2)  |

In [90]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
    'Age': [25, 30, 22, 35, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Salary': [50000, 55000, 40000, 70000, 48000]
}

df = pd.DataFrame(data)

In [92]:
df.at[2,'Salary']

40000

In [94]:
df.iat[2,3]

40000

In [96]:
df.at[1,'Gender']

'Female'

In [98]:
df.iat[0,2]

'Male'